AWS_ACCOUNT_ID=123456789012
AWS_REGION=ca-central-1
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_ENDPOINT=https://your-deployment-name.openai.azure.com/
AZURE_OPENAI_COMPLETIONS_MODEL_NAME=model-name
AZURE_OPENAI_EMBEDDINGS_MODEL_NAME=model-name
DYNAMODB_ENDPOINT_URL=http://localhost:9000
GOOGLE_CLIENT_ID=google-client-id
GOOGLE_CLIENT_SECRET=google-oauth-secret
S3_EVIDENCE_BUCKET_NAME=your-evidence-bucket
S3_ENDPOINT_URL=http://localhost:4566
S3_VECTOR_BUCKET_NAME=your-vector-bucket
S3_VECTOR_INDEX_NAME=your-vector-index
S3_VECTOR_REGION=us-east-1
SECRET_KEY=something-secret-and-more-than-32-chars
SQS_QUEUE_URL=http://sqs.ca-central-1.localhost.localstack.cloud:4566/000000000000/compass-jobs
SQS_ENDPOINT_URL=http://localhost:4566
BASE_URL=http://localhost:8000