{% extends "base.html" %}

{% block content %}
<gcds-heading tag="h1">{{ template.name }}</gcds-heading>
<gcds-text>
    {{ template.description }}
</gcds-text>

<gcds-heading tag="h2">{{ _('Configuration') }}</gcds-heading>
<section class="p-300 bg-light b-default b-sm overflow-scroll">
    <code><pre>{{ template.config }}</pre></code>
</section>

<ul class="list-disc mt-300 mb-300" class="sm">
    <li>
        <strong>{{ _('Scan Type:') }}</strong>
        {{ template.scan_type }}
    </li>
    <li>
        <strong>{{ _('Active:') }}</strong>
        {{ _(template.is_active) }}
    </li>
</ul>

<gcds-button href="/job-templates/{{ template.template_id }}/edit" type="link" button-role="primary" class="mt-300">
    {{ _("Edit") }}
</gcds-button>
<gcds-button href="/job-templates/{{ template.template_id }}/delete" type="link" button-role="secondary" data-csrf-token="{{ csrf_token }}" class="delete-item">
    {{ _("Delete") }}
</gcds-button>


{% endblock %}