{% extends "base.html" %}

{% block content %}
<gcds-heading tag="h1">{{ _("Job templates") }}</gcds-heading>
<gcds-text>
    {{ _("Manage automated scan job templates for evidence collection.") }}
</gcds-text>

<gcds-button href="/job-templates/new" type="link" button-role="secondary" class="mb-300">
    {{ _("Create new job template") }}
</gcds-button>

{% if templates %}
<section class="table-container mt-600 mb-300">
<table>
    <thead>
        <tr>
            <th scope="col">{{ _('Name') }}</th>
            <th scope="col">{{ _('Description') }}</th>
            <th scope="col">{{ _('Scan Type') }}</th>
            <th scope="col">{{ _('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for template in templates %}
        <tr>
            <td>
                <gcds-link href="/job-templates/{{ template.template_id }}">{{ template.name | markdown_no_tags }}</gcds-link>
            </td>
            <td>{{ template.description | markdown_no_tags }}</td>
            <td class="nowrap">{{ _(template.scan_type) }}</td>
            <td class="nowrap">
                <gcds-link href="/job-templates/{{ template.template_id }}/edit" size="small" class="me-75">
                    {{ _("Edit") }}
                </gcds-link>
                <gcds-link href="/job-templates/{{ template.template_id }}/delete" size="small" data-csrf-token="{{ csrf_token }}" class="delete-item">
                    {{ _("Delete") }}
                </gcds-link>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</section>
{% endif %}

{% endblock %}