{% extends "base.html" %}

{% block content %}
<section>
  <gcds-heading tag="h1">{{ _('Compass') }}</gcds-heading>
  <gcds-text>
    {{ _('Create and manage security assessments for your products.') }}
  </gcds-text>
  <gcds-button href="/assessments/new" type="link" button-role="secondary">
    {{ _('Create assessment') }}
  </gcds-button>
</section>

{% if assessments %}
<section>
  <gcds-heading tag="h2">{{ _('Security assessments') }}</gcds-heading>
  <gcds-grid tag="article" columns-desktop="1fr 1fr 1fr" columns-tablet="1fr 1fr" columns="1fr">
  {% for assessment in assessments %}
    <gcds-card
      card-title="{{ assessment.product_name }}"
      href="/assessments/{{ assessment.assessment_id }}">
      <gcds-text class="mt-200">{{ assessment.product_description | truncate(100) }}</gcds-text>
      <gcds-text text-role="secondary" size="small"><em>{{ _('Status:') }} {{ _(assessment.status) }}</em></gcds-text>
    </gcds-card>
  {% endfor %}
  </gcds-grid>
</section>
{% endif %}

{% endblock %}
