{% extends "base.html" %}

{% block content %}
<gcds-heading tag="h1">{{ control.nist_control_id }}</gcds-heading>
<gcds-heading tag="h2">{{ control.control_title | markdown_no_tags }}</gcds-heading>

<nav class="tabs mt-700" aria-label="Control tabs" data-tabs>
    <ul>
        <li class="tab"><a href="#overview" data-tab-link aria-current="page"><span class="text">{{ _('Overview') }}</span></a></li>
        <li class="tab"><a href="#evidence" data-tab-link><span class="text">{{ _('Evidence') }}</span> <span class="count">{{ evidences|length }}</span></a></li>
    </ul>
</nav>

<div id="overview" data-tab-panel>
    <gcds-heading tag="h2">{{ _('Overview') }}</gcds-heading>
    <gcds-grid columns-desktop="2fr 1fr" columns-tablet="1fr 1fr" columns="1fr" class="mb-600 mt-600">
        <section>
            {{ control.control_description | markdown }}

            <ul class="list-disc mt-600" class="sm">
                <li>
                    <strong>{{ _('Status:') }}</strong>
                    <abbr title="{{ _(control.status) }}" class="icon">
                        {% if control.status == 'compliant' %}✅
                        {% elif control.status == 'partially_compliant' %}⚠️
                        {% elif control.status == 'non_compliant' %}❌
                        {% else %}➖
                        {% endif %}
                    </abbr>
                    {{ _(control.status) }}
                </li>
                <li>
                    <strong>{{ _('Assessment:') }}</strong>
                    <gcds-link href="/assessments/{{ assessment.assessment_id }}">{{ assessment.product_name }}</gcds-link>
                </li>
            </ul>
        </section>
        {% if evidences %}
            {% set evidence_status_counts = dict.fromkeys(evidence_statuses, 0) %}
            {% for evidence in evidences %}
                {% if evidence.status in evidence_status_counts %}
                    {% set _ = evidence_status_counts.update({evidence.status: evidence_status_counts[evidence.status] + 1}) %}
                {% endif %}
            {% endfor %}
            <section class="ms-200 ps-600">
                <canvas class="compliance-chart"
                    {% for status, count in evidence_status_counts.items() %}
                    data-{{ status }}="{{ count }}"
                    data-{{ status }}-label="{{ _(status) }}"
                    {% endfor %}
                    aria-label="{{ _('Evidence compliance chart') }}"
                    role="img">
                </canvas>
                <gcds-text class="text-center" size="small">
                    {{ _('Evidence') }}: {{ evidence_status_counts.compliant }} {{ _('of') }} {{ evidences|length }} {{ _('compliant') }}
                </gcds-text>
        </section>
        {% endif %}
    </gcds-grid>

    <gcds-button href="/assessments/{{ assessment.assessment_id }}/controls/{{ control.control_id }}/edit" type="link" button-role="primary" class="mt-800">
        {{ _("Edit") }}
    </gcds-button>
    <gcds-button href="/assessments/{{ assessment.assessment_id }}/controls/{{ control.control_id }}/delete" type="link" button-role="secondary" data-csrf-token="{{ csrf_token }}" class="delete-item">
        {{ _("Delete") }}
    </gcds-button>
</div>

<div id="evidence" data-tab-panel hidden>
    <gcds-heading tag="h2">{{ _("Evidence") }}</gcds-heading>

    {% if evidences %}

    <section class="table-container mb-300">
        <table>
            <thead>
                <tr>
                    <th>{{ _('Title') }}</th>
                    <th>{{ _('Description') }}</th>
                    <th class="w-15">{{ _('Type') }}</th>
                    <th class="w-10 actions">{{ _('Actions') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for evidence in evidences %}
                    <tr>
                        <td>
                            <div class="d-flex align-content-start">
                                <abbr title="{{ _(evidence.status) }}" class="icon me-150">
                                    {% if evidence.status == 'compliant' %}✅
                                    {% elif evidence.status == 'partially_compliant' %}⚠️
                                    {% elif evidence.status == 'non_compliant' %}❌
                                    {% else %}➖
                                    {% endif %}
                                </abbr>
                                <span class="content">
                                    <gcds-link href="/assessments/{{ assessment.assessment_id }}/controls/{{ control.control_id }}/evidence/{{ evidence.evidence_id }}">{{ evidence.title | markdown_no_tags | truncate(100) }}</gcds-link>
                                </span>
                            </div>
                        </td>
                        <td>{{ evidence.description | markdown_no_tags | truncate(100) }}</td>
                        <td>{{ _(evidence.evidence_type) }}</td>
                        <td class="nowrap actions">
                            <gcds-link href="/assessments/{{ assessment.assessment_id }}/controls/{{ control.control_id }}/evidence/{{ evidence.evidence_id }}/edit"><img src="/static/img/edit.svg" title="{{ _('Edit') }}" alt="{{ _('Edit') }}"></gcds-link>
                            <gcds-link href="/assessments/{{ assessment.assessment_id }}/controls/{{ control.control_id }}/evidence/{{ evidence.evidence_id }}/delete" data-csrf-token="{{ csrf_token }}" class="delete-item"><img src="/static/img/delete.svg" title="{{ _('Delete') }}" alt="{{ _('Delete') }}"></gcds-link>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <gcds-button href="/assessments/{{ assessment.assessment_id }}/controls/{{ control.control_id }}/evidence/new" type="link" class="mt-300">
        {{ _("Add") }}
    </gcds-button>
    {% else %}
    <gcds-notice type="info" notice-title-tag="h2" notice-title="Nothing found">
    <gcds-text>
        <gcds-link href="/assessments/{{ assessment.assessment_id }}/controls/{{ control.control_id }}/evidence/new">{{ _('Add evidence') }}</gcds-link>
    </gcds-text>
    </gcds-notice>
    {% endif %}
</div>

<script src="/static/js/chart.js"></script>
<script src="/static/js/tabs.js"></script>

{% endblock %}