{% extends "base.html" %}

{% block content %}
<gcds-heading tag="h1">
    {% if is_edit %}
        {{ _("Edit control") }}
    {% else %}
        {{ _("Create control") }}
    {% endif %}
</gcds-heading>
<gcds-text>
    {% if is_edit %}
        {{ _("Update the details of your security control.") }}
    {% else %}
        {{ _("Fill out the form below to create a new security control.") }}
    {% endif %}
</gcds-text>

{% if error %}
<gcds-notice type="danger" notice-title-tag="h2" notice-title="{{ _('Errors') }}" class="mb-300">
  <gcds-text>{{ error | markdown }}</gcds-text>
</gcds-notice>
{% endif %}

<gcds-text>
    <strong>{{ _("Assessment") }}</strong><br>{{ assessment.product_name }}
</gcds-text>

<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

    <gcds-input
        name="nist_control_id"
        input-id="nist_control_id"
        label="{{ _('NIST Control ID') }}"
        required="true"
        maxlength="20"
        value="{% if is_edit %}{{ control.nist_control_id }}{% else %}{{ nist_control_id or '' }}{% endif %}">
    </gcds-input>

    <gcds-input
        name="control_title"
        input-id="control_title"
        label="{{ _('Control title') }}"
        required="true"
        maxlength="200"
        value="{% if is_edit %}{{ control.control_title | markdown_no_tags }}{% else %}{{ control_title or '' }}{% endif %}">
    </gcds-input>

    <gcds-textarea
        name="control_description"
        textarea-id="control_description"
        label="{{ _('Control description') }}"
        required="true"
        maxlength="5000"
        value="{% if is_edit %}{{ control.control_description | markdown_no_tags }}{% else %}{{ control_description or '' }}{% endif %}">
    </gcds-textarea>

    {% if is_edit %}
        <gcds-select
            name="status"
            select-id="status"
            label="{{ _('Status') }}"
            default-value="Select option.">
            {% for status_value in control_statuses %}
            <option value="{{ status_value }}" {% if control.status == status_value %}selected{% endif %}>{{ _(status_value) }}</option>
            {% endfor %}
        </gcds-select>
    {% endif %}

    <gcds-button type="submit" button-role="primary" class="mt-300">
      {% if is_edit %}
        {{ _("Update") }}
      {% else %}
        {{ _("Create") }}
      {% endif %}
    </gcds-button>
    <gcds-button href="{% if is_edit %}/assessments/{{ assessment.assessment_id }}/controls/{{ control.control_id }}{% else %}/assessments/{{ assessment.assessment_id }}{% endif %}" type="link" button-role="secondary">
      {{ _('Cancel') }}
    </gcds-button>
</form>

{% endblock %}