{% extends "base.html" %}

{% block content %}
<gcds-heading tag="h1">{{ assessment.product_name | markdown_no_tags }}</gcds-heading>

<gcds-text>
    {{ assessment.product_description | markdown }}
</gcds-text>

<gcds-text>
    {{ _('The assessment is on the') }} <code>{{ _(assessment.status|capitalize) }}</code> {{ _('step of the') }} <gcds-link href="https://docs.google.com/document/d/1IEOR7mDjfkkVN-mJIdLOZBoALR6slXQFSErxI43EYSg" target="_blank">{{ _('Agile SA&A process') }}</gcds-link>:
</gcds-text>
<div class="assessment-progress-bar mb-300">
    {% for status in assessment_statuses %}
        {% set current_index = assessment_statuses.index(assessment.status) %}
        {% set status_index = loop.index0 %}
        {% if status_index < current_index %}
            {% set status_class = 'complete' %}
        {% elif status_index == current_index %}
            {% set status_class = 'active' %}
        {% else %}
            {% set status_class = 'pending' %}
        {% endif %}
        <div class="progress-step {{ status_class }} cursor-help" title="{{ _(status + '_status_description') }}">
            <div class="progress-circle">
                {{ status_index + 1 }}
            </div>
            <div class="progress-label">{{ _(status|capitalize) }}</div>
        </div>
        {% if not loop.last %}
            <div class="progress-line {{ 'complete' if status_index < current_index else 'pending' }}"></div>
        {% endif %}
    {% endfor %}
</div>

{% if assessment.aws_account_id %}
    <gcds-heading tag="h2">{{ 'AWS resources' }}</gcds-heading>
    <gcds-text>
        {{ assessment.product_name | markdown_no_tags }} {{ _('runs in AWS account ') }}<code>{{ assessment.aws_account_id }}</code>
        {% if assessment.aws_resources %}
            {{ _('using the following services:') }}
        {% endif %}
    </gcds-text>

    {% if assessment.aws_resources %}
    <div class="aws-resource-badges">
            {% for resource in assessment.aws_resources %}
        <span class="aws-resource-badge">
            {{ _(resource) }}
        </span>
        {% endfor %}
    </div>
    {% endif %}
{% endif %}


<gcds-button href="/assessments/{{ assessment.assessment_id }}/edit" type="link" button-role="primary" class="mt-600">
    {{ _("Edit") }}
</gcds-button>
<gcds-button href="/assessments/{{ assessment.assessment_id }}/delete" type="link" button-role="secondary" data-csrf-token="{{ csrf_token }}" class="delete-item">
    {{ _("Delete") }}
</gcds-button>

<hr class="mt-800 mb-600">

<gcds-heading tag="h2">
    {{ 'Controls' }}{% if controls %}: {{ controls|length }}{% endif %}
</gcds-heading>

{% if controls %}
<section class="table-container mb-600">
    <table>
        <thead>
            <tr>
                <th>{{ _('ID') }}</th>
                <th>{{ _('Title') }}</th>
                <th>{{ _('Status') }}</th>
                <th>{{ _('Actions') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for control in controls %}
                <tr>
                    <td class="nowrap">
                        <gcds-link href="/assessments/{{ assessment.assessment_id }}/controls/{{ control.control_id }}">{{ control.nist_control_id }}</gcds-link>
                    </td>
                    <td>{{ control.control_title | markdown_no_tags | truncate(100) }}</td>
                    <td>{{ _(control.implementation_status) }}</td>
                    <td class="nowrap actions">
                        <gcds-link href="/assessments/{{ assessment.assessment_id }}/controls/{{ control.control_id }}/edit"><img src="/static/img/edit.svg" title="{{ _('Edit') }}" alt="{{ _('Edit') }}"></gcds-link>
                        <gcds-link href="/assessments/{{ assessment.assessment_id }}/controls/{{ control.control_id }}/delete" data-csrf-token="{{ csrf_token }}" class="delete-item"><img src="/static/img/delete.svg" title="{{ _('Delete') }}" alt="{{ _('Delete') }}"></gcds-link>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<gcds-button href="/assessments/{{ assessment.assessment_id }}/controls/new" type="link">
    {{ _('Add') }}
</gcds-button>
{% else %}
<gcds-notice type="info" notice-title-tag="h2" notice-title="Nothing found">
  <gcds-text>
    {{ _('Get started by') }} <gcds-link href="/assessments/{{ assessment.assessment_id }}/controls/new">{{ _('creating a control') }}</gcds-link> {{ _('or') }} <gcds-link href="/assessments/{{ assessment.assessment_id }}/import">{{ _('importing from GitHub') }}</gcds-link>.
  </gcds-text>
</gcds-notice>
{% endif %}



{% endblock %}