{% extends "base.html" %}

{% block content %}
<gcds-heading tag="h1">{{ assessment.product_name }}</gcds-heading>
<gcds-text>
    {{ assessment.product_description | markdown }}
</gcds-text>

<ul class="list-disc mb-300" class="sm">
    <li>
        <strong>{{ _('Status:') }}</strong>
        {{ _(assessment.status) }}
    </li>
    {% if assessment.aws_account_id %}
    <li>
        <strong>{{ _('AWS account ID:') }}</strong>
        {{ assessment.aws_account_id }}
    </li>
    {% endif %}
</ul>

<gcds-button href="/assessments/{{ assessment.assessment_id }}/edit" type="link" button-role="primary" class="mt-300">
    {{ _("Edit") }}
</gcds-button>
<gcds-button href="/assessments/{{ assessment.assessment_id }}/delete" type="link" button-role="secondary" data-csrf-token="{{ csrf_token }}" class="delete-item">
    {{ _("Delete") }}
</gcds-button>

<hr class="mt-800 mb-600">

<gcds-heading tag="h2">
    {{ 'Controls' }}
    {% if controls %} ({{ controls|length }}) {% endif %}
</gcds-heading>

{% if controls %}
<section class="table-container mb-300">
    <table>
        <thead>
            <tr>
                <th>{{ _('ID') }}</th>
                <th>{{ _('Title') }}</th>
                <th>{{ _('Status') }}</th>
                <th>{{ _('Actions') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for control in controls %}
                <tr>
                    <td class="nowrap">
                        <gcds-link href="/assessments/{{ assessment.assessment_id }}/controls/{{ control.control_id }}">{{ control.nist_control_id }}</gcds-link>
                    </td>
                    <td>{{ control.control_title }}</td>
                    <td>{{ _(control.implementation_status) }}</td>
                    <td>
                        <gcds-link href="/assessments/{{ assessment.assessment_id }}/controls/{{ control.control_id }}/edit">{{ _("Edit") }}</gcds-link>
                        <gcds-link href="/assessments/{{ assessment.assessment_id }}/controls/{{ control.control_id }}/delete" data-csrf-token="{{ csrf_token }}" class="delete-item">{{ _("Delete") }}</gcds-link>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<gcds-button href="/assessments/{{ assessment.assessment_id }}/controls/new" type="link">
    {{ _('Add') }}
</gcds-button>
{% else %}
<gcds-notice type="info" notice-title-tag="h2" notice-title="No controls found">
  <gcds-text>
    {{ _('Get started by') }} <gcds-link href="/assessments/{{ assessment.assessment_id }}/controls/new">{{ _('creating a control') }}</gcds-link> {{ _('or') }} <gcds-link href="/assessments/{{ assessment.assessment_id }}/import">{{ _('importing from GitHub') }}</gcds-link>.
  </gcds-text>
</gcds-notice>

{% endif %}



{% endblock %}