{% extends "base.html" %}

{% block content %}
<gcds-heading tag="h1">
    {% if is_edit %}
        {{ _("Edit assessment") }}
    {% else %}
        {{ _("Create assessment") }}
    {% endif %}
</gcds-heading>
<gcds-text>
    {% if is_edit %}
        {{ _("Update the details of your security assessment.") }}
    {% else %}
        {{ _("If you have a [Navigator](https://valentine.cds-snc.ca/) workspace export, select it below to fill out the form.") | markdown }}
    {% endif %}
</gcds-text>

{% if error %}
<gcds-notice type="danger" notice-title-tag="h2" notice-title="{{ _('Errors') }}" class="mb-300">
  <gcds-text>{{ error | markdown }}</gcds-text>
</gcds-notice>
{% endif %}

{% if not is_edit %}
<div class="mb-400">
    <div id="fileUploadContainer">
        <div class="file-upload-widget">
            <div class="file-list d-none table-container" id="fileList">
                <table>
                    <thead>
                        <tr>
                            <th>{{ _('File name') }}</th>
                            <th class="w-15 align-right">{{ _('Size') }}</th>
                            <th class="w-10">{{ _('Actions') }}</th>
                        </tr>
                    </thead>
                    <tbody id="fileListItems"></tbody>
                </table>
            </div>
            <div class="drop-zone" id="dropZone">
                <div class="drop-zone-content">
                    <span class="drop-zone-text">
                        <strong>{{ _('Drag and drop') }}</strong> {{ _('or') }} 
                        <strong><a href="#" class="file-select-button">{{ _('select your export') }}</a></strong>
                    </span>
                    <input 
                        type="file" 
                        id="fileInput" 
                        accept=".json" 
                        class="d-none">
                </div>
            </div>
            <div class="upload-errors d-none" id="uploadErrors"></div>
        </div>
    </div>
</div>
{% endif %}

<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

    {% if is_edit %}
        <gcds-select
            name="status"
            select-id="status"
            label="{{ _('Agile SA&A Step') }}"
            default-value="Select option."
            required="true">
            {% for status in assessment_statuses %}
                <option value="{{ status }}" {% if assessment.status == status %}selected{% endif %}>{{ loop.index }}. {{ _(status|capitalize) }}</option>
            {% endfor %}
        </gcds-select>
    {% endif %}

    {# Set to required once GCDS required bug is fixed #}
    <gcds-input
        name="product_name"
        input-id="product_name"
        label="{{ _('Product name') }}"
        maxlength="200"
        value="{% if is_edit %}{{ assessment.product_name | markdown_no_tags }}{% else %}{{ product_name or '' }}{% endif %}">
    </gcds-input>

    <gcds-textarea
        name="product_description"
        textarea-id="product_description"
        label="{{ _('Product description') }}"
        maxlength="10000"
        value="{% if is_edit %}{{ assessment.product_description }}{% else %}{{ product_description or '' }}{% endif %}">
    </gcds-textarea>

    <gcds-input
        name="aws_account_id"
        input-id="aws_account_id"
        label="{{ _('AWS account ID') }}"
        maxlength="12"
        value="{% if is_edit %}{{ assessment.aws_account_id or '' }}{% else %}{{ aws_account_id or '' }}{% endif %}">
    </gcds-input>

    <gcds-input
        name="aws_resources_autocomplete"
        input-id="aws_resources_input"
        label="{{ _('AWS Resources') }}"
        hint="{{ _('Type to search for resources') }}"
        data-resources='[{% for resource in aws_resources %}{"value": "{{ resource }}", "label": "{{ _(resource) }}"}{% if not loop.last %}, {% endif %}{% endfor %}]'
        data-selected='{% if is_edit and assessment.aws_resources %}[{% for resource in assessment.aws_resources %}{"value": "{{ resource }}", "label": "{{ _(resource) }}"}{% if not loop.last %}, {% endif %}{% endfor %}]{% elif selected_aws_resources %}[{% for resource in selected_aws_resources %}{"value": "{{ resource }}", "label": "{{ _(resource) }}"}{% if not loop.last %}, {% endif %}{% endfor %}]{% else %}[]{% endif %}'>
    </gcds-input>

    <gcds-button type="submit" button-role="primary" class="mt-300">
      {% if is_edit %}
        {{ _("Update") }}
      {% else %}
        {{ _("Create") }}
      {% endif %}
    </gcds-button>
    <gcds-button href="{% if is_edit %}/assessments/{{ assessment.assessment_id }}{% else %}/{% endif %}" type="link" button-role="secondary">
      {{ _('Cancel') }}
    </gcds-button>

</form>

<script src="/static/js/assessment.js"></script>

{% endblock %}