{% extends "base.html" %}

{% block content %}
<gcds-heading tag="h1">{{ evidence.title }}</gcds-heading>
<gcds-text>
    {{ evidence.description }}
</gcds-text>
<gcds-text text-role="secondary" size="small">
    <em>{{ _('Type:') }} {{ _(evidence.evidence_type|title) }}</em>
</gcds-text>

<gcds-button href="/assessments/{{ assessment.assessment_id }}/controls/{{ control.control_id }}/evidence/{{ evidence.evidence_id }}/edit" type="link" button-role="primary">
    {{ _("Edit") }}
</gcds-button>

<gcds-button href="/assessments/{{ assessment.assessment_id }}/controls/{{ control.control_id }}/evidence/{{ evidence.evidence_id }}/delete" type="link" button-role="danger" data-csrf-token="{{ csrf_token }}" class="delete-item">
    {{ _("Delete") }}
</gcds-button>

{% endblock %}