<!DOCTYPE html>
<html dir="ltr" lang="{{ get_locale() }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://cdn.design-system.alpha.canada.ca/@cdssnc/gcds-utility@1.9.2/dist/gcds-utility.min.css">
    <link rel="stylesheet" href="https://cdn.design-system.alpha.canada.ca/@cdssnc/gcds-components@0.40.0/dist/gcds/gcds.css">

    <script type="module" src="https://cdn.design-system.alpha.canada.ca/@cdssnc/gcds-components@0.40.0/dist/gcds/gcds.esm.js"></script>
  </head>

  <body>
    <gcds-header lang-href="{% if get_locale() == 'en' %}/fr{% else %}/{% endif %}" skip-to-href="#main-content">
      <gcds-top-nav slot="menu" label="Main menu" alignment="right">
        <gcds-nav-link slot="home" href="/">Compass</gcds-nav-link>
        {% if user %}
          <gcds-nav-link href="/auth/logout">{{ _('sign_out') }}</gcds-nav-link>
        {% else %}
          <gcds-nav-link href="/auth/login">{{ _('sign_in') }}</gcds-nav-link>
        {% endif %}
      </gcds-top-nav>

      <gcds-breadcrumbs slot="breadcrumb">
      </gcds-breadcrumbs>
    </gcds-header>

    <gcds-container id="main-content" main-container size="xl" centered tag="main">
      {% block content %}
      {% endblock %}

      <div class="mt-600 mb-300">{{ _('version') }}: {{ version }}</div>
    </gcds-container>

    <gcds-footer display="full" contextual-heading="{{ _('cds_footer') }}"></gcds-footer>
  </body>
</html>